<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Home</title>
      <!-- Bootstrap  -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <!-- Fonts/Icons -->
      <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
      <script src="https://kit.fontawesome.com/3d9a968462.js" crossorigin="anonymous"></script>
      <!-- CSS -->
      <link rel="stylesheet" href="/stylesheets/homestyle.css">
    </head>
    
    <header class="text-center py-4">
      <!-- Main Heading for Home Page -->
      <div class="container">
          <h1 class="display-4">Home Page</h1>
      </div>
  
      <!-- Navigation Links -->
      <div class="container mt-3 p-3 bg-primary rounded" >
          <nav class="navbar-container" >
              <a href="/about" class="h4 text-dark  ">About Me</a>
              <br>
              <br>
              <a href="/contact" class="h4 text-dark ">Contact</a>
              <br>
              <br>
              <a href="/projects" class="h4 text-dark ">Projects</a>
          </nav>
      </div>

      
  </header>
  
<body >

    <footer>
      <a href="https://github.com/rysn-y"target="_blank">Github</a>
        <p style=" text-align: bottom";>©2024 by Rysn YEE</p>
    </footer>
</body>

</html>

