<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Fonts/Icons -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/3d9a968462.js" crossorigin="anonymous"></script>
    <!-- CSS -->
    <link rel="stylesheet" href="/stylesheets/projectsstyle.css">
</head>

<header class="text-center py-3">
        
    <a href="/contact" class="font-weight-bold  mx-3">Contact</a>
    <a href="/about" class="font-weight-bold mx-3">About Me</a>
    <a href="/projects" class="font-weight-bold text-dark mx-3">Projects</a>
    <a href="/" class="font-weight-bold mx-3">Home</a>
</nav>

</header>
<body>

    <div class="container" id="project1"> <!--first project container-->
        <img src="/images/project1.png" alt="Project 1 Image">
        <label>
            This was the final project of last years Networking course. It involved connecting offices from around the world to allow connection with one another
        </label>
    </div>

    <div class="container" id="project2"> <!--second project container-->
        <img src="/images/project2.png" alt="Project 2 Image">
        <label>
            DES cipher that was created in python for an assignment in another course. Provided image is a single round of DES and DES has a total of 16 rounds.    
        </label>
    </div>

    <footer>
        <a href="https://github.com/rysn-y"target="_blank">Github</a>
        <p>©2024 by Rysn YEE</p>
    </footer>

</body>
</html>
